body{background-color:#90C7E3; color:#666666; font-family:Verdana,Arial,sans-serif;
    background-image: linear-gradient(#FFFFFF, #90C7E3); background-repeat: no-repeat;}
header{background:url(image/header.jpg) right no-repeat, #24014d; color:#FFFFFF; font-family:Georgia,serif;
    height: 72px; }
h1{text-align: center; padding-top: .5em;}
nav{font-weight:bold; padding-top: .5em; padding-right: .5em; padding-bottom: .5em; text-align:center;}
h2{color:#1976D2; font-family:Georgia,serif;}
dt{color:#002171; font-weight:bold;}
.resort{color:#1976D2; font-size:1.2em;}
footer{font-size:.70em; font-style:italic; text-align: center; padding: 1em;}
#wrapper{width:80%; margin-right:auto; margin-left: auto;
    background-color: #FFFFFF; min-width: 960px; max-width: 2048px; box-shadow: 3px 3px;}
h3{font-family: Georgia, serif;}
main{padding-left: 2em; padding-right: 2em; display: block;}
#homehero{height: 300px; background: url(image/homehero.jpg) no-repeat; background-size: 100% 100%;}
nav a{text-decoration: none;}
#bio img{float: right};
table{margin: auto;}
td{padding-right: 90px; padding-bottom: 10px;};